<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.os.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.os.pojo.O_User" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_number" property="uNumber" jdbcType="VARCHAR" />
    <result column="u_pwd" property="uPwd" jdbcType="VARCHAR" />
    <result column="u_email" property="uEmail" jdbcType="VARCHAR" />
    <result column="u_type" property="uType" jdbcType="INTEGER" />
    <result column="u_tx" property="uTx" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, u_name, u_number, u_pwd, u_email, u_type, u_tx
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from o_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <select id="selectByUser" resultMap="BaseResultMap" parameterType="com.os.pojo.O_User" >
    select 
    <include refid="Base_Column_List" />
    from o_user
    where u_name = #{uName,jdbcType=VARCHAR} and u_pwd = #{uPwd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from o_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.os.pojo.O_User" >
    insert into o_user (u_id, u_name, u_number, 
      u_pwd, u_email, u_type, 
      u_tx)
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uNumber,jdbcType=VARCHAR}, 
      #{uPwd,jdbcType=VARCHAR}, #{uEmail,jdbcType=VARCHAR}, #{uType,jdbcType=INTEGER}, 
      #{uTx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.os.pojo.O_User" >
    insert into o_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="uNumber != null" >
        u_number,
      </if>
      <if test="uPwd != null" >
        u_pwd,
      </if>
      <if test="uEmail != null" >
        u_email,
      </if>
      <if test="uType != null" >
        u_type,
      </if>
      <if test="uTx != null" >
        u_tx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uNumber != null" >
        #{uNumber,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null" >
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uType != null" >
        #{uType,jdbcType=INTEGER},
      </if>
      <if test="uTx != null" >
        #{uTx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.os.pojo.O_User" >
    update o_user
    <set >
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uNumber != null" >
        u_number = #{uNumber,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        u_pwd = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null" >
        u_email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uType != null" >
        u_type = #{uType,jdbcType=INTEGER},
      </if>
      <if test="uTx != null" >
        u_tx = #{uTx,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.os.pojo.O_User" >
    update o_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_number = #{uNumber,jdbcType=VARCHAR},
      u_pwd = #{uPwd,jdbcType=VARCHAR},
      u_email = #{uEmail,jdbcType=VARCHAR},
      u_type = #{uType,jdbcType=INTEGER},
      u_tx = #{uTx,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>