<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.tsep.dao.SubjectDao" >
  <resultMap id="BaseResultMap" type="top.tsep.pojo.SubjectEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, subject_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ts_subject
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from ts_subject
    where subject_name = #{subjectName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ts_subject
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="top.tsep.pojo.SubjectEntity" >
    insert into ts_subject (id, subject_name)
    values (#{id,jdbcType=INTEGER}, #{subjectName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="top.tsep.pojo.SubjectEntity" >
    insert into ts_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectName != null" >
        subject_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="top.tsep.pojo.SubjectEntity" >
    update ts_subject
    <set >
      <if test="subjectName != null" >
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="top.tsep.pojo.SubjectEntity" >
    update ts_subject
    set subject_name = #{subjectName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAllSubject" resultMap="BaseResultMap">
    SELECT * from ts_subject
  </select>
</mapper>