<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.tsep.dao.UserDao" >
  <resultMap id="BaseResultMap" type="top.tsep.pojo.UserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="user_tx" property="userTx" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="user_qq" property="userQq" jdbcType="VARCHAR" />
    <result column="user_intro" property="userIntro" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="attribute1" property="attribute1" jdbcType="VARCHAR" />
    <result column="attribute2" property="attribute2" jdbcType="VARCHAR" />
    <result column="attribute3" property="attribute3" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, nick_name, real_name, email, user_type, user_tx, pass_word, user_qq, user_intro,
    create_time, user_phone, attribute1, attribute2, attribute3
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ts_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="checkLogin" resultMap="BaseResultMap" parameterType="top.tsep.pojo.UserEntity" >
    select
    <include refid="Base_Column_List" />
    from ts_user
    where email = #{email,jdbcType=INTEGER}
    and pass_word = #{passWord,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ts_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="top.tsep.pojo.UserEntity" >
    insert into ts_user (id, nick_name, real_name,
      email, user_type, user_tx, 
      pass_word, user_qq, user_intro, 
      create_time, user_phone, attribute1, 
      attribute2, attribute3)
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{userTx,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{userQq,jdbcType=VARCHAR}, #{userIntro,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR})
  </insert>

	<!-- 插入用户科目中间表 -->
	 <insert id="insertUserSubject">
	 	insert into ts_user_subject
	 	values
	 	(#{userId,jdbcType=INTEGER},
	 	#{subjectId,jdbcType=INTEGER}
	 	)
	 </insert>
	
  <insert id="insertSelective" parameterType="top.tsep.pojo.UserEntity" useGeneratedKeys="true" keyProperty="id">
    insert into ts_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userTx != null" >
        user_tx,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="userQq != null" >
        user_qq,
      </if>
      <if test="userIntro != null" >
        user_intro,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="attribute1 != null" >
        attribute1,
      </if>
      <if test="attribute2 != null" >
        attribute2,
      </if>
      <if test="attribute3 != null" >
        attribute3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userTx != null" >
        #{userTx,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="userQq != null" >
        #{userQq,jdbcType=VARCHAR},
      </if>
      <if test="userIntro != null" >
        #{userIntro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="top.tsep.pojo.UserEntity" >
    update ts_user
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userTx != null" >
        user_tx = #{userTx,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="userQq != null" >
        user_qq = #{userQq,jdbcType=VARCHAR},
      </if>
      <if test="userIntro != null" >
        user_intro = #{userIntro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        attribute1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        attribute2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        attribute3 = #{attribute3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--更新-->
  <update id="updateByPrimaryKey" parameterType="top.tsep.pojo.UserEntity" >
    update ts_user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      user_tx = #{userTx,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      user_qq = #{userQq,jdbcType=VARCHAR},
      user_intro = #{userIntro,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      attribute1 = #{attribute1,jdbcType=VARCHAR},
      attribute2 = #{attribute2,jdbcType=VARCHAR},
      attribute3 = #{attribute3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>